/*Main Page*/

.logo{
    background-image: url(nav.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 60px;
}

nav{
    background-color: #e2ede7ff;
    text-align: center;
    height: auto;
    padding: 0;
}
.nav-link{
    color: black;
}

.mainpg{
    width: 100%;
    height: auto;
    background-color: #f4f9f3ff;
    padding: 30px;
}

.img1{
    padding: 20px;
    margin-top: 65px;
    margin: 0 auto;
    background-image: url(image1.png);
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size:contain;
}

.con{
    text-align: center;
    color: #6b9893ff;
}

.con h1{
    font-size: 60px;
    font-family: 'Chicle', cursive;
     
}
.con button{
    background-color: #6b9893ff;
    border: solid 1px #6b9893ff;
    color: white;
    width: 100px;
    height: 35px;
    border-radius: 50px;
}

/*Pag 1*/

.page1{
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #6b9893ff;
    color: white;
    padding: 30px;
}

.page1 h1, .page2 h1,.page3 h1,.page4 h1,.page5 h1{
    margin: 0 auto 30px;
    padding-top: 70px;
    font-size: 40px;
    font-weight: 900;
    font-family:sans-serif;
}

.page1 p{
    width: 50%;
    margin: auto;
    font-size: 17px;
}

.page1 h2{
    margin: -80px auto 15px;
    padding-top: 100px;
    font-size: 23px;
    font-weight: 600;
    font-family:sans-serif;
}

.img2, .img3, .img4{
    text-align: center;
    width: 250px;
    height: 250px;
    margin:auto;
}

.img2{
    background-image: url(image4.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.img3{
    background-image: url(image3.png);
    background-size: contain;
}

.img4{
    background-image: url(image2.png);
    background-size: contain;
}


.imgs{
    margin: 20px 10px;
}

.page2{
    background-image: url(backimg1.png);
    background-size: cover;
    width: 100%;
    height: auto;
    background-color: #f4f9f3ff;
    text-align: center;
    color: #6b9893ff;
    padding: 0 30px 30px;
    
    
}

.page2 h2{ 
    font-size: 30px;
    font-weight: 900;
    font-family:sans-serif;
}

.stat{
    margin: 20px auto;
    padding-top: 40px;
    border: solid 3px #6b9893ff;
    height: 170px;
    width: 170px;
    border-radius: 170px;
}

.page2 p{
    margin-top:20px;
    padding: 0 10px;
    margin: 0 auto;
}

/*Page 3*/
.page3{
     width: 100%;
    height: auto;
    text-align: left;
    background-color: #6b9893ff;
    color: white;
    padding: 30px;
    margin: 0 auto;
}

.page3 h1{
    color: white;
}

.page3 button,.page4 button{
    width: 200px;
    height: 40px;
    margin: 20px 0;
    background-color: white;
    color: #6b9893ff;
    font-size: 15px;   
    font-weight: 900;
    border: solid 1px white;
    border-radius: 5px;
}

.page3 p{
    width: 70%;
    margin: 50px 0;
    font-size: 20px;
}

/*page 4*/

.page4{
    padding: 50px;
     width: 100%;
    height: auto;
    text-align: left;
    background-color:#f4f9f3ff;
    color: #6b9893ff;
}

.image5{
    width:100%;
    height: 800px;
    background: url(image5.png) no-repeat;
    background-size: contain;
    background-position:left;
}

.image6{
    margin: 0 auto;
    width: auto;
    height: 600px;
    background-image: url(image6.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position:left;
    margin-left: -50px;
}

.page4 h1{
    margin-top:-150px;
    margin-bottom: 30px;
}

.page4 p{
    width: 75%;
    margin-bottom: 20px;
    font-size: 20px;
}

.page4 button,.page5 button{
    background-color: #6b9893ff;
    color: white;
    border: solid 1px #6b9893ff;
}

/*Page5*/

.page5{
     width: 100%;
    height: auto;
    text-align: center;
    background-color: #6b9893ff;
    color: white;
    padding: 0px 50px 50px;
}

.page5 p{
    width: 70%;
    margin: 0 auto;
}

.pack{
    margin: 10px auto;
    padding: 30px;
    width: 270px;
    height: auto;
    background-color: #f4f9f3ff;
    color:#6b9893ff;
    
}

.page5 h2{
    font-size: 25px;
}

.page5 h3{
    font-size: 20px;
}

.pack p{
    margin: 30px auto 20px;
    width: 80%
}

.pack button{
    margin-top: 10px;
    width: 85%;
}

/*page 6*/

.page6{
    background-image: url(backimg2.jpg.png);
    background-size: cover;
     width: 100%;
    height: auto;
    text-align: center;
    color:#6b9893ff;
    padding: 40px;
}
.page6 p{
    max-width: 900px;
    margin: 0 auto;
    font-size: 30px;
}

.page6 span{
    
    font-weight: 900;
}

.page6 img{
    margin-top: 80px;
    margin-bottom: 50px;
}

.r1{
    padding: 50px;
    background-color:#6b9893ff;
    width: 100%;
    height: auto;
    color: white;
    text-align: center;
}

.r1 h1{
    margin-bottom: 20px;
}

/*
.page7{
    width: 100%;
    height: auto;
    text-align: center;
    color:#6b9893ff;
    padding: 40px;
}
*/
.r1 p{
    width: 60%;
    margin: 0 auto;
    }

.r3{
    margin-top: 50px;
    width: auto;
}
.r3 button{
    background-color: #f4f9f3ff;
    margin-left: -13px;
    border: solid 1px #f4f9f3ff;
    color: #6b9893ff;
}

.r2{
    background-color: #f4f9f3ff;
    padding: 50px;
    color: #6b9893ff;
}

.r2 h2{
    font-size: 20px;
    font-weight: 700;
}

.p2{
    float: right;
}
.p2 p{
    margin: -1.5px 0;
}
